<head>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/4.2.6/d3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/9.1.3/bootstrap-slider.min.js"></script>
    <script src="http://unpkg.com/d3-hilbert"></script>
    <script src="main.js"></script>


    <style>
        body {
            text-align: center;
        }
        svg {
            margin: 10px;
        }
        svg path {
            fill: none;
            stroke: #3A5894;
            stroke-width: 0.3;
            stroke-linecap: square;
        }
        svg path.skeleton {
            stroke: #EEE;
            stroke-width: 0.1;
        }
    </style>
</head>
<body>
    <svg id="hilbert-chart"></svg>
    <div id="hilbert-controls">
        <input id="hilbert-order"/>
    </div>

    <script>
        hilbertDemo();
    </script>
</body>